*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1eded;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}
@media only screen and (min-width: 480px) {
  
}
